/* Define font size for .smallFont */
.smallFont {
  font-size: 8pt;
}

/* Define container dimensions for footer*/
.container {
  width: auto;
  max-width: 120%;
}

/* Styling for Footer Section */
.smallFooter {
  font-size: 9pt;
  background-color: lightgray;
  padding: 5px;
  border-top: thick solid black;
  clear:both;
}
